<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" thread-count="3" parallel="tests">
	<test name="ChromeTest">
		<parameter name="browsername" value="Chrome">
			<classes>
				<class name="testcases.testcases" />
			</classes>
		</parameter>
	</test>
	<test name="FireFoxTest">
		<parameter name="browsername" value="Firefox">
			<classes>
				<class name="testcases.testcases" />
			</classes>
		</parameter>
	</test>
	<test name="SafariTest">
		<parameter name="browsername" value="Safari">
			<classes>
				<class name="testcases.testcases" />
			</classes>
		</parameter>
	</test>
</suite> <!-- Suite -->
